@charset "UTF-8";
* {
  position: relative;
  font-family: 微軟正黑體;
  vertical-align: top;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f1;
}

#app {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: inline-block;
  height: 50px;
  width: 1200px;
  background-color: #ffffff;
  border-bottom: 2px solid #f3f3f1;
  position: fixed;
  top: 0;
  z-index: 10000;
}
.navbar .icon {
  display: inline-block;
  width: 166.63px;
  height: 50px;
  margin-left: calc(15% - 100px);
  margin-top: 5px;
}

.nav_list.left {
  display: inline-block;
  text-align: center;
  margin-right: calc(15% - 50px);
  margin-left: 35px;
  margin-top: 15px;
}
.nav_list.left span {
  font-size: 16px;
  margin: 10px;
  color: #000000;
  opacity: 0.65;
  cursor: pointer;
}
.nav_list.left span:hover {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}
.nav_list.left i {
  margin-right: 3px;
  font-size: 20px;
}
.nav_list.left img {
  margin-right: 3px;
}

.nav_list.right {
  display: inline-block;
  text-align: center;
  margin-left: calc(15% - 100px);
  margin-right: calc(10% - 100px);
}
.nav_list.right .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/236010082_4642937565725657_1386275256949585451_n.jpg?_nc_cat=108&_nc_rgb565=1&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=BZeOrFMhYY8AX8aa6Ce&_nc_ht=scontent.ftpe7-3.fna&oh=74f031aa471581de2261470291480eda&oe=616526F2");
  background-size: cover;
  border: 2px solid #f3f3f1;
  z-index: 100;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}
.nav_list.right .profile:hover {
  transform: scale(1.1);
}
.nav_list.right h4 {
  display: inline-block;
  font-size: 16px;
  color: #000000;
  opacity: 0.65;
  margin: 15px;
  cursor: pointer;
}
.nav_list.right h4:hover {
  opacity: 1;
}
.nav_list.right i {
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
}
.nav_list.right i:hover {
  opacity: 1;
  transform: scale(1.3);
}

.banner {
  height: 400px;
  width: 1200px;
  background: linear-gradient(
    -45deg,
    #ffe18d 10%,
    #ffda71 10%,
    #ffda71 40%,
    #ffe18d 40%,
    #ffe18d 60%,
    #ffda71 60%,
    #ffda71 90%,
    #ffe18d 90%
  );
  background-size: 46px 46px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 30px;
  position: relative;
}
.banner .center_banner {
  display: inline-block;
  background-color: #fff;
  padding: 20px 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.banner .center_banner img {
  width: 1000px;
}

.classes {
  margin-top: 50px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.classes a {
  text-decoration: none;
}

.classbox {
  width: 260px;
  background-color: white;
  color: #4f4c4b;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 25px 15px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.classbox .teacher {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 15px;
  top: -27.5px;
  border-radius: 50%;
  background-image: url("https://hahow.in/images/57ab3d5585b097070042067a");
  background-size: cover;
  border: 2px solid white;
  z-index: 9;
}
.classbox:hover .bookbtn {
  bottom: 10px;
}
.classbox:hover .classpicture {
  transform: scale(1.13);
}
.classbox:hover .bottom .valuebar {
  width: 200px;
}
.classbox .tag {
  width: 100%;
  text-align: center;
  transform: translate(95px, 15px) rotate(45deg);
  padding: 5px 0px;
  background-color: #eb5e00;
  color: white;
  font-weight: 700;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.classbox .classpicture {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://hahow.in/images/574fab4f206cd60900c52a67?width=300");
  background-size: cover;
  left: 0;
  right: 0;
  border-radius: 5px 5px 0px 0px;
  transition: 0.3s;
}
.classbox .bookbtn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  bottom: -50px;
  background-color: #fff;
  color: #eb5e00;
  cursor: pointer;
  transition: bottom 0.3s;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.classbox .bookbtn i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}
.classbox .bookbtn:hover {
  background-color: #eb5e00;
  color: white;
}

.top {
  height: 160px;
  overflow: hidden;
}
.bottom {
  height: 184px;
  padding: 15px;
}
.bottom .classtitle {
  font-size: 25px;
  margin-top: 0px;
}
.bottom .texts {
  font-size: 15px;
  letter-spacing: 1px;
}
.bottom .texts .orange {
  padding-left: 5px;
  color: #fa8b00;
}
.bottom .pricerow {
  margin-bottom: 10px;
}
.bottom .pricerow .lastday {
  position: absolute;
  top: 0;
  right: 0;
}
.bottom .progressbar {
  height: 10px;
  margin-bottom: 10px;
  background-color: #e0e0db;
  border-radius: 5px;
  overflow: hidden;
}
.bottom .progressbar .valuebar {
  width: 150px;
  transition: 0.5s;
  height: 100%;
  background-color: #fa8b00;
  border-radius: 5px 0px 0px 5px;
}
.bottom .nowpeople {
  text-align: center;
}
.bottom .orangebar {
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #eb5e00;
  border-radius: 0px 0px 5px 5px;
}

.footer {
  display: inline-block;
  height: 250px;
  width: 100%;
  background-color: #ededed;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}
.footer .left {
  width: 30%;
  margin-top: 30px;
  display: inline-block;
  margin-left: 4%;
  box-sizing: border-box;
}
.footer .middle {
  width: 30%;
  margin-top: 30px;
  display: inline-block;
  box-sizing: border-box;
}
.footer .right {
  width: 30%;
  margin-top: 30px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 4%;
}
.footer h3 {
  font-size: 16px;
  color: #00bea4;
}
.footer li {
  list-style: none;
  margin-top: 10px;
}
.footer li a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  #app {
    width: 900px;
  }

  .navbar {
    height: 60px;
    width: 900px;
  }
  .navbar .icon {
    margin-left: calc(5% - 20px);
  }

  .nav_list.left {
    display: none;
  }

  .nav_list.right {
    margin-left: calc(30% - 50px);
    margin-right: calc(10%);
  }

  .banner .center_banner {
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    background-image: url("https://hahow.in/static/media/wa.f2292bc0.png");
    background-size: cover;
    transform: translate(-50%, -50%);
  }
  .banner .center_banner .img1 {
    display: none;
  }

  .classbox {
    width: 500px;
    margin-left: calc(45% - 50px);
    margin-right: calc(30% - 50px);
  }

  .top {
    height: 250px;
  }

  .bottom {
    height: 140px;
  }

  .footer .right {
    display: none;
  }
  .footer .left {
    margin-left: 30%;
    width: 30%;
  }
  .footer .middle {
    margin-right: 5%;
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  #app {
    margin-left: 0;
    margin-right: 0;
    width: 600px;
  }

  .navbar {
    width: 600px;
  }

  .nav_list.right {
    margin-left: calc(40% - 100px);
  }
  .nav_list.right .mycls {
    display: none;
  }
  .nav_list.right .profile {
    margin-left: 0px;
  }

  .banner {
    width: 600px;
  }

  .classes {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: auto;
  }
  .classes .classbox {
    width: 350px;
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0%;
  }
  .classes .teacher,
  .classes .tag,
  .classes .bookbtn,
  .classes .progressbar {
    display: none;
  }
  .classes .top {
    margin-left: 0;
    height: 80px;
    width: 130px;
  }
  .classes .top .classpicture {
    border-radius: 0%;
  }
  .classes .bottom {
    height: 20px;
  }
  .classes .bottom .intro {
    width: 210px;
    top: -90px;
    left: 120px;
    font-size: 13px;
    margin: 0;
  }
  .classes .bottom .texts {
    font-size: 16px;
    top: -15px;
    vertical-align: top;
  }
  .classes .bottom .classtitle {
    top: -90px;
    left: 38%;
    font-size: 14px;
  }
  .classes .bottom .pricerow {
    margin-top: 0;
    top: -35px;
    left: -10px;
  }
  .classes .bottom .pricerow .lastday {
    left: 40%;
    top: 0px;
    margin-left: 7px;
  }
  .classes .bottom .nowpeople {
    margin-top: 0;
    top: -67px;
    margin-left: 180px;
  }

  .footer {
    width: 600px;
  }
  .footer .left {
    margin-left: 20%;
    width: 25%;
  }
  .footer .middle {
    margin-right: 5%;
    width: 35%;
  }
}
